<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="PocketTrainer"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MainTheme"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">
        <activity
            android:name=".screens.EditProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".screens.SettingsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".screens.UserProfileActivity"
            android:exported="false" />
      <activity
            android:name=".screens.ExercisePageActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".screens.ExerciseCompleteActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".screens.QuestionnaireActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".screens.IntroductionActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".screens.SearchActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".screens.ProgramsListActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".screens.NavigationActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Workout"
            android:configChanges="orientation"
            android:exported="false" />
        <activity
            android:name=".screens.ExerciseListActivity"
            android:screenOrientation="portrait"
            android:exported="false">
        </activity>

    </application>

</manifest>